.colorwithtext-wrapper {
  width: 94%;
  margin: 0;
  

}
 
.colorwithtext {
  width: 1200px;
  
}
 
.colorwithtext .colorwithtext-row {
  display: flex;
  width: 1300px;
  margin-left: -32px;
  margin-right: -16px;
  margin-top: -34px;
  min-height: 100px; /* Adjust height as needed */
  max-height:150px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}